<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="" overrideMode="Inherit">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
          <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
        </customHeaders>
      </httpProtocol>
      <urlCompression doDynamicCompression="true" />
      <directoryBrowse enabled="false" />
      <defaultDocument enabled="true">
        <files>
          <clear />
          <add value="index.htm" />
          <add value="index.html" />
          <add value="index.php" />
          <add value="index.asp" />
          <add value="default.asp" />
          <add value="index.aspx" />
          <add value="default.aspx" />
        </files>
      </defaultDocument>
    </system.webServer>
  </location>
</configuration>
