<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="" overrideMode="Inherit">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
          <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
        </customHeaders>
      </httpProtocol>
      <urlCompression doDynamicCompression="true" />
      <directoryBrowse enabled="false" />
    </system.webServer>
  </location>
  <connectionStrings>
    <!-- Development -->
    <add name="LinkConsigDB" providerName="System.Data.SqlClient" connectionString="Server=server-db01.cmgumqw6zly5.us-east-1.rds.amazonaws.com;Initial Catalog=LinkConsigDB-hml; User ID=admin; Password=4zdplxZt0BSYE273; Integrated Security=False;" />

    <!-- Staging -->
    <!--<add name="LinkConsigDB" providerName="System.Data.SqlClient" connectionString="Server=177.66.120.41;Initial Catalog=LinkConsigDB; User ID=sa; Password=Genpp@3000; Integrated Security=False;" />-->

    <!-- Production -->
    <!--<add name="LinkConsigDB" providerName="System.Data.SqlClient" connectionString="Server=server-db01.cmgumqw6zly5.us-east-1.rds.amazonaws.com;Initial Catalog=LinkConsigDB; User ID=admin; Password=4zdplxZt0BSYE273; Integrated Security=False;" />-->
  </connectionStrings>
</configuration>
